.station-box-container {
    width: calc(100% - 2vw);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px rgba(221, 221, 221, 0.3);
    min-height: 60px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 20px;
    display: flex;
    position: relative;
    .data-labels {
        color: #84818a;
        font-size: 12px;
    }
    .data-info {
        color: #2e2c34;
        font-size: 14px;
        margin-bottom: 0px;
        text-transform: capitalize;
    }
    .left-section {
        width: 22%;
        padding-right: 15px;
        .station-name {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0px;
        }
    }
    .middle-section {
        width: 30%;
        border-left: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        .station-created {
            width: 30%;
            margin-right: 15px;
        }
    }
    .right-section {
        width: 48%;
        display: flex;
        .station-meta {
            padding-left: 20px;
            img {
                margin-right: 3px;
            }
        }
    }
    // .station-box-header {
    //     display: flex;
    //     min-height: 60px;
    //     padding-left: 20px;
    //     justify-content: space-between;
    //     h3,
    //     p {
    //         margin: 0;
    //     }
    //     .info-fields {
    //         display: flex;
    //         align-items: center;
    //     }
    //     .actions-side {
    //         display: flex;
    //         margin-right: 20px;
    //         .hover-section {
    //             display: flex;
    //             color: var(--purple);
    //         }
    //         .action {
    //             display: flex;
    //             align-items: center;
    //             margin-left: 20px;
    //         }
    //         .overview,
    //         .edit {
    //             font-weight: 600;
    //             font-size: 12px;
    //             cursor: pointer;
    //         }
    //         .station-menu {
    //             .threedots-menu {
    //                 color: #a9a9a9;
    //                 margin-top: 0px;
    //                 margin-left: 10px;
    //             }
    //         }
    //     }
    // }
}
