.search-input-container {
    position: relative;
    z-index: 2;
    align-self: center;
}

.search-input-container Input {
    font-size: 12px;
    margin-top: 3px;
}
.search-icon .anticon svg {
    margin-left: 5px;
    width: 1vw;
    height: 12px;
    opacity: 0.5;
}
