.editor-code-snippet-container {
    margin-top: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    .sc-gsnTZi {
        background: white !important;
        span {
            background: white !important;
        }
        button {
            border: 0px;
            background: white;
        }
    }
}
