.logs-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    p{
        margin: 0;
    }
    header{
        margin-bottom: 25px;
        .last-refresh{
            display: flex;
            margin-top: 8px;
            font-weight: 400;
            font-size: 12px;
            color: rgba(74, 73, 92, 0.8);
            img {
                margin-right: 7px;
            }
        }
    }
}
